/*ul {
  list-style-type: none
}

li {
  border: solid 2px black;
}*/
/*.produce {
  list-style-type: none;
}
.produce li {
  border: solid 2px black;
  margin: 0 0 1em 0
}

img {
  border: solid 1px red
}

.in-block {
  display: inline-block;
  border: solid 1px green;
  position: absolute;
}

.in-block div {
  margin: 5px 10px 5px 10px;
  border: solid 1px black;
}

.name {
  font-size: 48px
}

.price {
  font-size: 24px
}

.rating {
  font-size: 24px
}

.info {
  font-size: 16px
}*/

.on-display {
  border: solid 1px black;
  background-color: gainsboro
}

.sidebar {
  border: solid 1px blue;
  background-color: lightblue;
  width: 100%
}

.adbar {
  border: solid 1px red;
  background-color: lightcoral;
  padding: 50% 0 0 0
}

ul {
  list-style-type: none
}

.categories {
  float: left
}

.centered-text {
  padding-top: .5em
}

.on-display img {
  width: 100%
}

#main {
  /*background-color: orange;*/
  background-image: url('/images/he-man_crop.jpg')
}

#cart-item {
  padding: 5;
  text-align: center;
}

#center {
   text-align: center
}

/*.whoami-user-name {
}*/

/*.row {
  clear: both
}*/

.store {
  font-size: 36px;
  /*position: absolute;
  left: 50%;
  top: 40px;*/
  background-color: orange;
  border: solid 4px purple;
  border-radius: 20%
}

.green {
  color: green
}

.red {
  color: red
}

.blue {
  color: blue
}

.btn-checkout {
  position: relative;
  left: 37.5%;
  bottom: -8px
  /*background-color: blue;*/
  /*color: white*/
}

/*.checkout {
  float: right
}*/

.flow {
  float: right
}

.lab {
  position: relative;
  top: 8px
}

/*.single-display {
  margin: 0 5% 0 5%
}*/