.on-display {
  border: solid 1px black;
  background-color: #ff99ff;
  padding: 2% 2% 2% 2%;
}

.on-admin {
  border: solid 1px black;
  background-color: #ff99ff;
  padding: 2% 2% 2% 2%;
}

.sidebar {
  background-color: #00cc99;
  border: solid 2px #669999;
  border-radius: 3px;
  width: 100%;
  margin-top: 1em;
  padding-bottom: 1em;
}

.sidebar a {
  color: blue;
  font-size: 18px
  /*text-shadow: 1px 1px black;*/
}

.adbar {
  border: solid 1px red;
  background: linear-gradient(red, black);
  color: white;
  width: 100%;
  margin-bottom: 5%
}

.adbar a {
  color: white;
}

.adbar img {
  width: 100%
}

.centered-text {
  padding-top: .5em
}

.on-display img {
  width: 100%
}

#main {
  /*background-color: orange;*/
  background-image: url('/images/he-man_crop.jpg')
}

.cart-item {
  margin: 20px;
}

.center {
   text-align: center
}

.myitems {
  background-color: lightgreen;
  border: solid 1px green; ;
}

.image {
  height: 120px;
  width: 120px;
}

.quantity {
  display: block;
  font-size: 20px;

}

.price {
  font-size: 20px;
}

.total {
  font-weight: bold;
  font-size: 25px;
}

.store {
  font-size: 36px;
  background-color: orange;
  border: solid 4px purple;
  border-radius: 20%
}

.green {
  color: green
}

.red {
  color: red
}

.blue {
  color: blue
}

.btn-checkout {
  position: relative;
  bottom: -8px
}

.flow {
  float: right
}

.lab {
  position: relative;
  top: 8px
}

.single-display {
  padding: 0 5% 0 5%;
  margin-bottom: 1em
}

.flex {
  display: flex;
  justify-content: space-between
}

.bob {
  background: linear-gradient(red,orange,yellow,green,blue,indigo,violet)
}

.nav-lab {
  color: white;
  text-shadow: 1px 1px black;
}

.navbar {
  /*background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);*/
  background-color: #00cc99;
  border: solid 0 black;
  border-bottom: solid 2px #669999;
  border-radius: 0;
  padding: 1em 0 1em 0
}

.btn-nav {
  background-color: #ff66ff;
  color: black;
  border: solid 1px #660066
}

.btn-nav:hover {
  background-color: #ff00ff
}

#content {
  margin-bottom: 2em
}

.on-display a {
  color: black;
  font-size: 14px
}

.btn-product {
  background-color: #00cc99;
  color: black;
  /*text-shadow: 1px 1px black;*/
  border: solid 1px black;
}

.btn-product:hover {
  background-color: #009973
}

.item1 {
  order: 1
}

.item2 {
  order: 2
}

.item3 {
  order: 3
}

.item1 div {
  display: inline-block
}

.item2 div {
  display: inline-block
}

/*.marg {
  margin-left: -15px;
  margin-right: -15px
}*/